{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Enlazando el CSS de Bootstrap -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/css.css' %}">
       
  </head>
  <body class="bow">

    <div class="cajaTexto">
        <center><header>INICIAR SESION</header></center>
        <center><h2><header>INGRESE SUS DATOS</h2></header></center>
    </div>
    <div class="lario2">
        <form>
            <fieldset>
                <legend>Datos de acceso</legend>
                <div class="form-group">
                    <!--<form class="login_form" action="sesion iniciada log 1.html" method="post" name="form" onsubmit="return validar()"></form>-->
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email"
                      aria-describedby="email" placeholder="email" required>
                  </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password"
                      aria-describedby="password" placeholder="password" required>
                  </div>
            </fieldset>

                       <div class="buttons">
                                <div class="backBtn">
                                    <i class="uil uil-navigator"></i>
                                    <a href="{% url 'tienda:index' %}"span class="btnText" style="color: red;">Volver</a>
                                    </span>
                        </div>

                                <!--<div class="btn btn-group">
                                    
                                    <a type="submit" span class="btn btn-danger">Ingresar</a> 
                                    <form class="login_form" action="sesion iniciada log 1.html" span class="btn btn-danger" method="post" name="form" required>Ingresar</form>

                                </div>-->

                                <button id="submitButton" class="submit" onclick="form()">
                                    <a  span class="btnText">Ingresar</span>
                                    <i class="uil uil-navigator"></i>
                                </button>    


                       </div>
                                               
                
        </form>
    </div>

    <script src="{% static 'js/js-iniciosesion_vendedor.js' %}"></script>
    


  </body>
</html>